In [1]:
import pandas as pd

In [30]:
df = pd.read_csv('samplecounts2.csv')

In [31]:
df.head()

,Unnamed: 0,./tpm//SRR11510194,./tpm//SRR11510195,./tpm//SRR11510196,./tpm//SRR11934411,./tpm//SRR11934414,./tpm//SRR11934417,./tpm//SRR11934420,./tpm//SRR11934425,./tpm//SRR11934428,...,./tpm//SRR5712382,./tpm//SRR5712396,./tpm//SRR6003795,./tpm//SRR6003802,./tpm//SRR6003824,./tpm//SRR6003827,./tpm//SRR7429873,./tpm//SRR7429877,./tpm//SRR7429885,./tpm//SRR7429889
0,gene:AT1G01010.1,31.03670,29.89980,37.07170,57.34140,49.79520,32.328100,6.298350,1.249160,1.64129,...,0.000000e+00,0.456898,14.88920,18.200800,123.681,0.00,42.20210,27.44840,37.28810,25.08500
1,gene:AT1G01020.1,14.03261,9.84591,19.30832,13.23000,8.80766,9.955352,7.101991,6.493234,5.96291,...,6.968100e-09,0.000000,3.54339,3.953870,0.000,0.00,21.29301,6.50675,16.57026,10.54434
2,gene:AT1G01030.1,19.48900,9.60096,20.38150,5.72250,2.75072,0.000000,8.010220,2.808120,1.31314,...,0.000000e+00,0.000000,3.62661,4.315760,0.000,0.00,9.30806,4.43136,7.07438,4.04681
3,gene:AT1G01040.1,13.89125,11.07766,10.69723,18.17645,13.00319,16.760540,11.207830,15.051730,10.07880,...,1.798660e+00,1.791200,2.41434,0.876451,0.000,14.26,14.43695,15.34053,13.40544,18.52872
4,gene:AT1G01050.1,34.02910,21.80460,45.40820,38.43170,19.28250,19.139100,47.832800,44.452800,40.70090,...,1.243960e+01,5.990250,28.85970,47.094300,0.000,0.00,75.22570,76.22990,104.37700,96.86100

In [32]:
c = ['target_id'] + [x.split('//')[1] for x in df.columns[1:]]
df.columns = c

In [33]:
df.head()

,target_id,SRR11510194,SRR11510195,SRR11510196,SRR11934411,SRR11934414,SRR11934417,SRR11934420,SRR11934425,SRR11934428,...,SRR5712382,SRR5712396,SRR6003795,SRR6003802,SRR6003824,SRR6003827,SRR7429873,SRR7429877,SRR7429885,SRR7429889
0,gene:AT1G01010.1,31.03670,29.89980,37.07170,57.34140,49.79520,32.328100,6.298350,1.249160,1.64129,...,0.000000e+00,0.456898,14.88920,18.200800,123.681,0.00,42.20210,27.44840,37.28810,25.08500
1,gene:AT1G01020.1,14.03261,9.84591,19.30832,13.23000,8.80766,9.955352,7.101991,6.493234,5.96291,...,6.968100e-09,0.000000,3.54339,3.953870,0.000,0.00,21.29301,6.50675,16.57026,10.54434
2,gene:AT1G01030.1,19.48900,9.60096,20.38150,5.72250,2.75072,0.000000,8.010220,2.808120,1.31314,...,0.000000e+00,0.000000,3.62661,4.315760,0.000,0.00,9.30806,4.43136,7.07438,4.04681
3,gene:AT1G01040.1,13.89125,11.07766,10.69723,18.17645,13.00319,16.760540,11.207830,15.051730,10.07880,...,1.798660e+00,1.791200,2.41434,0.876451,0.000,14.26,14.43695,15.34053,13.40544,18.52872
4,gene:AT1G01050.1,34.02910,21.80460,45.40820,38.43170,19.28250,19.139100,47.832800,44.452800,40.70090,...,1.243960e+01,5.990250,28.85970,47.094300,0.000,0.00,75.22570,76.22990,104.37700,96.86100

In [34]:
df['target_id'] = [x.split(':')[1] for x in df['target_id']]
df = df.set_index('target_id')

In [35]:
df.to_csv('sampleCount2.csv')