In [7]:
import glob
import pandas as pd
from functools import reduce

In [3]:
file_list = glob.glob('./tpm/*.tsv')

In [6]:
df_list = [pd.read_csv(x,sep='\t')[['target_id','est_counts']] for x in file_list]

In [8]:
df_mat = reduce(lambda a,b : pd.merge(a,b, on='target_id', how = 'outer'), df_list)

In [9]:
df_mat

,target_id,est_counts_x,est_counts_y,est_counts_x,est_counts_y,est_counts_x,est_counts_y,est_counts_x,est_counts_y,est_counts_x,...,est_counts_x,est_counts_y,est_counts_x,est_counts_y,est_counts_x,est_counts_y,est_counts_x,est_counts_y,est_counts_x,est_counts_y
0,AT1G01010.1,890.0000,344.00000,289.000000,740.0000,173.00000,337.00000,211.0000,335.0000,93.00000,...,0.0,89.0000,83.0000,77.0000,0.000000e+00,0.000000e+00,1.0,1.110000e+02,166.0000,156.000000
1,AT1G01020.2,170.4430,27.96200,36.909200,98.8888,16.44510,36.14090,13.4923,0.0000,0.00000,...,0.0,29.9848,39.6737,57.7236,0.000000e+00,0.000000e+00,0.0,7.722200e+01,44.3487,90.975800
2,AT1G01020.6,39.7748,6.62079,12.048200,8.6030,9.06045,12.87810,0.0000,26.8996,3.03336,...,0.0,34.8007,30.4692,32.6857,3.941990e+00,1.941990e+00,4.0,7.515930e+01,22.3553,25.056600
3,AT1G01020.1,88.4846,50.38440,67.263000,157.5080,10.19590,67.66090,50.1394,231.3910,52.48220,...,0.0,115.0850,179.1290,34.4034,4.687800e-08,1.512770e-08,0.0,6.512920e+01,39.7860,52.329400
4,AT1G01020.4,0.0000,0.00000,0.000002,0.0000,5.46392,4.96938,0.0000,27.0233,0.00000,...,0.0,39.3686,41.7012,55.1287,0.000000e+00,0.000000e+00,0.0,7.778930e-08,0.0000,0.929896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48354,ATMG01350.1,1.0000,1.00000,2.000000,0.0000,0.00000,1.00000,1.0000,0.0000,0.00000,...,0.0,3.0000,27.0000,18.0000,1.000000e+00,0.000000e+00,1.0,2.000000e+00,5.0000,8.000000
48355,ATMG01360.1,52.0000,19.00000,26.000000,31.0000,18.00000,14.00000,21.0000,21.0000,2.00000,...,52.0,202.0000,368.0000,228.0000,2.100000e+01,1.700000e+01,26.0,7.300000e+01,111.0000,107.000000
48356,ATMG01370.1,9.0000,2.00000,4.000000,11.0000,2.00000,9.00000,5.0000,4.0000,1.00000,...,2.0,29.0000,63.0000,54.0000,1.600000e+01,1.100000e+01,23.0,2.100000e+01,23.0000,44.000000
48357,ATMG01400.1,0.0000,0.00000,0.000000,0.0000,0.00000,0.00000,0.0000,0.0000,0.00000,...,0.0,2.0000,11.0000,7.0000,2.000000e+00,1.000000e+00,0.0,1.000000e+00,0.0000,1.000000
48358,ATMG01410.1,2.0000,1.00000,2.000000,0.0000,0.00000,1.00000,0.0000,2.0000,1.00000,...,0.0,2.0000,1.0000,2.0000,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0000,0.000000

In [10]:
file_list[0]

'./tpm/SRR11510194_abundance.tsv'

In [11]:
c = ['target_id'] + [x.split('/')[-1].split('_')[0] for x in file_list]

In [13]:
df_mat.columns = c

In [15]:
df_mat['target_id']

0        AT1G01010.1
1        AT1G01020.2
2        AT1G01020.6
3        AT1G01020.1
4        AT1G01020.4
            ...
48354    ATMG01350.1
48355    ATMG01360.1
48356    ATMG01370.1
48357    ATMG01400.1
48358    ATMG01410.1
Name: target_id, Length: 48359, dtype: object

In [17]:
df_mat['target_id'] = list(map(lambda x : x.split('.')[0], df_mat['target_id']))

In [26]:
gene_list = sorted(set(df_mat['target_id']))

In [34]:
df = pd.DataFrame()

for ix in gene_list:
    m = df_mat['target_id'] == ix
    df[ix] = df_mat[m][df_mat.columns[1:]].sum(numeric_only=True, axis=0)

In [27]:
m = df_mat['target_id'] == gene_list[1]

In [29]:
df = pd.DataFrame()
df[gene_list[1]] = df_mat[m][df_mat.columns[1:]].sum(numeric_only=True, axis=0)

In [36]:
df = df.T

In [40]:
df.to_csv('avrRps4_geneCount.csv')

In [44]:
m = df_mat['target_id'] == 'AT5G45250'

In [45]:
df_mat[m]

,target_id,SRR11510194,SRR11510195,SRR11510196,SRR7429873,SRR7429877,SRR7429885,SRR7429889,SRR5123620,SRR5123621,...,SRR493236,SRR3680094,SRR3680095,SRR3680096,SRR5712368,SRR5712382,SRR5712396,SRR5167844,SRR5167845,SRR5167846
43888,AT5G45250,769.0,466.0,104.0,682.0,224.0,357.0,274.0,551.0,121.0,...,2.0,562.0,665.0,504.0,30.0,20.4631,15.0,339.0,599.0,349.0